@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
	margin: 0;
	color: rgba(255,180,1,1);
	font-family: 'Fredoka One', sans-serif;
	width: 100%;
	height: 100vh;
	padding: 0;
	background: rgba(40, 40, 40, 1);
}

#header_img {
	margin: 10px auto 40px;
	height: auto;
	width: 35%;
	padding: 0;
}

img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	max-height: 250px;
}

#join_view {
	margin: 0 auto 7px;
	width: 100%;
	height: 40%;
	padding: 5px;
}
input {
	margin: 0 auto 7px;
	padding: 7px;
	display: block;
	border-radius: 10px;
	border: solid rgba(255, 180, 1, 1);
	height: 50px;
	font-size: 20px;
	color: rgba(255,180,1,1);
	box-shadow: none;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
}
input[type=text]::placeholder {
	color: rgba(60, 60, 60, 1)
}
input[type=text] {
	width: 100%;
	background-color: rgba(120, 120, 120,1)
}
input[type=submit]:hover {
	background-color: rgba(17,17,17,1);
}
input[type=submit] {
	background-color: rgba(25,25,25,1);
	cursor: pointer;
}
#generate_view input[type=submit] {
	min-width: 25ch;
}
#to_host {
	width: 100%;
}

input:focus {
	outline: none;
}
#join_view #jleft {
	box-sizing: border-box;
	width: calc(50% - 1.5px);
	float: left;
	height: 100%;
	padding: auto;
}
#join_view #jright {
	box-sizing: border-box;
	width: calc(50% - 1.5px);
	float: right;
	height: 100%;
	padding: auto;
}
#jleft-inner {
	width: 60%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#jright-inner {
	width: 60%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#divider {
	width: 3px;
	height: 100%;
	background-color: rgb(255, 180, 1);
	float: left;
	margin: auto;
	border-radius: 2px;
}
#join_button {
	width: 50%;
}

#code_display {
	font-size: 2em;
	text-align: center;
}
#code_display > .code_display {
	font-size: 3em;
}

#search_view, #hub_view {
	width: 50%;
	height: 40%;
	float: left;
	padding: 0 2em;
	box-sizing: border-box;
}
#search_view {
	border-left: 3px white solid;
}

#search {
	/*width: 100%;*/
}