/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
body {
	display: block;
	margin: 0;
	color: rgba(255,180,1,1);
	font-family: 'Fredoka One', sans-serif;
	width: 100%;
	height: 100vh;
	padding: 0;
	background: rgba(40, 40, 40, 1);
}

.header_img {
	margin: 10px auto 40px;
	height: auto;
	width: 35%;
	padding: 0;
	display: block;
}

img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	max-height: 250px;
}

#join_view {
	margin: 0 auto 7px;
	width: 100%;
	height: 40%;
	padding: 5px;
}
input[type=submit], #join_view input {
	margin: 0 auto 7px;
	padding: 0 1em;
	display: block;
	border-radius: 10px;
	border: solid rgba(255, 180, 1, 1);
	height: 50px;
	font-size: 20px;
	color: rgba(255,180,1,1);
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
	background-color: rgba(25,25,25,1);
}
input::placeholder {
	color: rgba(60, 60, 60, 1)
}
input[type=submit]:hover {
	background-color: rgba(17,17,17,1);
}
#join_view input[type=text] {
	background-color: rgba(120, 120, 120,1)
}
#to_host {
	width: 100%;
}

input:focus {
	outline: none;
}
#jleft, #jright {
	box-sizing: border-box;
	width: calc((100% - 3px) / 2);
	float: left;
	height: 100%;
	padding: auto;
	position: relative;
}
#jleft-inner, #jright-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#divider {
	width: 3px;
	height: 100%;
	background-color: rgb(255, 180, 1);
	float: left;
	margin: auto;
	border-radius: 2px;
}
#join_button {
	width: 50%;
}
#hub_view, #search_view {
	width: 50%;
	float: right;
	height: 80%;
}
#hub_view-inner, #search_view-inner {
	width: 80%;
	height: 88vh;
	margin: 5vh 10% 0;
	border: 3px solid rgb(255, 180, 1);
	border-radius: 30px;
	background-color: rgb(25, 25, 25);
	overflow-x: hidden;
}
#search, #now_playing_client_cont {
	width: 100%;
	background-color: rgb(120, 120, 120);
	height: 50px;
	text-align: center;
	border: none;
	color: rgb(255, 180, 1);
	font-size: 20px;
	font-family: 'Fredoka One', sans-serif;
	border-bottom: 1px solid rgb(255, 180, 1);
}
#search_results {
	height: calc(100% - 54px);
	overflow-y: scroll;
}
#search_results::-webkit-scrollbar	{
	background: none;
	width: 5px;
}
#search_results::-webkit-scrollbar-thumb {
	background-color: rgb(255, 180, 1);
	border-radius: 3px;
}
.track_container {
	width: 100%;
	border-bottom: 1px solid rgb(255, 180, 1);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}
.track_container:hover {
	background-color: rgb(17, 17, 17);
}
#now_playing_client_cont {
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
}
#generate_view {
	width: 100%;
}
#code_display {
	font-size: 2em;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	border: 3px solid rgba(255, 180, 1, 1);
	border-radius: 1em;
}
#code_display > .code_display {
	font-size: 3em;
}
#now_playing_cont {
	padding: 0.5em;
	border-bottom: 2px solid rgba(255, 180, 1, 1);
}
.input[type=submit], .track_container {
	cursor: pointer;
}
#play_pause {
	margin: 0.5em;
	padding: 0 0.5em;
	font-size: 0.8em;
	float: right;
}
