#join_view #jleft {
	box-sizing: border-box;
	height: calc((100% - 3px) / 2);
	float: none;
	width: 100%;
	display: block;
}
#divider {
	width: 75%;
	height: 5px;
	background-color: rgb(255, 180, 1);
	margin: 0 auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#join_view #jright {
	box-sizing: border-box;
	height: calc((100% - 3px) / 2);
	float: none;
	width: 100%;
	display: block;
}
#hub_view, #search_view {
	width: 75%;
	float: none;
	height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#hub_view-inner, #search_view-inner {
	height: 80vh;
	margin: auto;
}
#search {
	width: calc(100% - 3px);
	background-color: rgb(120, 120, 120);
	height: 50px;
	border-radius: 27px 27px 0 0;
	box-shadow: none;
	text-align: center;
}
#to_search {
	padding: 0;
	display: block;
	border-radius: 10px;
	border: solid rgba(255, 180, 1, 1);
	height: 50px;
	width: 100%;
	font-size: 20px;
	color: rgba(255,180,1,1);
	box-shadow: none;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#to_hub{
	padding: 0;
	display: block;
	border-radius: 10px;
	border: solid rgba(255, 180, 1, 1);
	height: 50px;
	width: 100%;
	font-size: 20px;
	color: rgba(255,180,1,1);
	box-shadow: none;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#search_results{
	text-align: center;
}
#generate_view {
}
