body {

	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}


body input{
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	margin-bottom: 7px;
	padding: none;
	display: block;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(255,180,1,1);
	height: 50px;
	font-size: 20px;
	color: rgba(255,180,1,1);
	box-shadow: none;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
}
body input::placeholder {
	color: rgba(60, 60, 60, 1)
}
body input[type=submit]:hover {
	background-color: rgba(17,17,17,1);
}
body input[type=text] {
	width: 30%;
	background-color: rgba(120, 120, 120,1)
}
body input[type=submit] {
	width: 10%;
	background-color: rgba(25,25,25,1);
}

main-container * {
	margin: 5px;
}
body {
	margin: 5px;
	color: rgba(255,180,1,1);
	font-family: 'Fredoka One';
	width: 100%;
	padding: none;
	background: rgba(40, 40, 40, 1);
}
#join_view {
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	margin-bottom: none;
	width: 100%;
	padding: 5px;
}

img{
	display: flex;
	width: 100%;
	height: auto;
	margin: none;
	padding: none;
	max-height: 250px;
}
#header_img {
	max-height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	width: 40%;
	padding: none;
	margin-bottom: 25px;
}
input:focus {
	outline: none;
}
#search_view {
	display: none;
}
#generate_view {
	display: none;
}
