.main-container{
  min-height: 100vh;
	/*background: linear-gradient(75deg, rgba(255, 180, 1, 0.80), rgba(79, 75, 65, )); rgba(69, 69, 69,1);*/
  background: linear-gradient(180deg, rgba(20, 20, 20,1), rgba(20, 20, 20, 0.75));
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.main-container input[type=submit]{
  margin: auto;
  display: block;
	border-radius: 5px 5px 5px 5px;
  border-color: rgba(255,180,1,1);
	flex: 1 0 100px;
	transition: box-shadow 0.3s ease;
  background-color: rgba(20,20,20,1);
  width: 100px;
  height: 35px;
  font-size: 20px;
  color: rgba(255,180,1,1);
}

.main-container input[type=submit]:hover {
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

.main-container input[type="join_code"] {
	padding: 0 10px 0 10px;
	color: #463e3e;
	flex: 1 0 200px;
}

body {
  margin: 0;
  color: rgb(255,180,1);
}
