.main-container{
<<<<<<< HEAD

	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}


.main-container input{
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	margin-bottom: 20px;
	padding: none;
	display: block;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(255,180,1,1);
	height: 50px;
	font-size: 20px;
	color: rgba(255,180,1,1);
	box-shadow: none;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
}
.main-container input::placeholder {
	color: rgba(60, 60, 60, 1)
}
.main-container input[type=submit]:hover {
	background-color: rgba(17,17,17,1);
}
.main-container input[type=text] {
	width: 60%;
	background-color: rgba(100, 100, 100,1)
}
.main-container input[type=submit] {
	width: 55%;
	background-color: rgba(25,25,25,1);
}

.main-container * {
	margin: 5px;
}
body {
	margin: 0;
	color: rgba(255,180,1,1);
	font-family: 'Fredoka One';
	width: 100%;
	padding: none;
	background: rgba(40, 40, 40, 1);
}
main {
	width: 100%;
	padding: none;
	margin: none;
}
#join_view {
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	margin-bottom: none;
	width: 100%;
	padding: 5px;
}

img{
	display: flex;
	width: 100%;
	height: auto;
	margin: none;
	padding: none;
}
#header_img {
	max-height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: none;
	width: 40%;
	padding: none;
}
input:focus {outline: none; }
=======
  min-height: 100vh;
	/*background: linear-gradient(75deg, rgba(255, 180, 1, 0.80), rgba(79, 75, 65, )); rgba(69, 69, 69,1);*/
  background: linear-gradient(180deg, rgba(20, 20, 20,1), rgba(20, 20, 20, 0.75));
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.main-container input[type=submit]{
  margin: auto;
  display: block;
	border-radius: 5px 5px 5px 5px;
	/*border-left: none;*/
	background: white;
	flex: 1 0 100px;
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease;
}

.main-container input[type=submit]:hover {
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}
body {
  margin: 0;
  color: rgb(240, 226, 194);
}
>>>>>>> lol
