<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>iunGO</title>
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
		{{#isMobile}}<link rel="stylesheet" href="/css/mobile.css" type="text/css" />{{/isMobile}}
	</head>
	<body>

		<div id="join_view">
			<div id="header_img"><img src='/images/iungo_orange.svg' /></div>
			<div id="jleft">
				<div id="jleft-inner">
					<input type="text" id="join_code" name="join_code" placeholder="Enter Session Code" /><br />
					<input type="submit" id="join_button" value="Join" />
				</div>
			</div>
			<div id="jright">
				<div id="jright-inner">
					<input type="submit" name="to_host" id="to_host" value="Host a Session" />
				</div>
			</div>
			<div id="divider"></div>
			<span class="error_msg" id="error_join"></span>
		</div>
		<div id="hub_view" style="display:none;">
			<div id="hub_view-inner">
				<div id="now_playing_client_cont" style="display: none;">
					Now playing: <span id="current_track_client"></span> by <span id="current_artist_client"></span>
				</div>
				{{#isMobile}}<input type="submit" name="to_search" id="to_search" value="Search songs" />{{/isMobile}}
				<div class="trending">
				</div>
			</div>
		</div>

		<div id="search_view" style="display:none;">
			<input type="text" id="search" name="search" placeholder="Search" />
			<div id="search_results">
				<div id="search_view-inner">
					{{#isMobile}}<input type="submit" name="to_hub" id="to_hub" value="Search songs" />{{/isMobile}}
					<input type="text" id="search" name="search" placeholder="Search" />
				<div id="search_results">
				</div>
			</div>
		</div>

		<div id="generate_view" style="display:none;">
			<input type="submit" name="generate_code" id="generate_code" value="Create A New Session" /><br />
			<input type="submit" name="to_join" id="to_join" value="Join a Session" />
		</div>
		<div id="code_view" style="display:none;">
			<div id="now_playing_cont" style="display:none;">
				Now playing: <span id="current_track"></span> by <span id="current_artist"></span> (<span id="elapsed_time"></span>)<br />
				<input type="submit" name="play_pause" id="play_pause" value="Pause" />
			</div>
			<div id="code_display">Enter this code to join:<br /><span class="code_display"></span></div>
			<div class="trending" id="trending_host">
			</div>
		</div>

		<script>
			let isMobile = {{isMobile}};
		</script>
		<script src="/build/jquery-1.12.4.min.js"></script>
		<script src="/build/napster.min.js"></script>
		<script src="/build/output.js"></script>
	</body>
</html>
